footer {
    background-color: $primary;
    color: $solidWhite;
    padding: 75px;
    .footerFlexContainer {
        display: flex;
        justify-content: space-between;
    }
}

.footer h4 {
    color: $solidWhite;
}

.footerFlexContainer {
    display: flex;
    justify-content: space-between;
}

.footerNav {
    width: 30%;
    nav {
        display: flex;
        justify-content: space-between;
    }
}

.social {
    display: flex;
    justify-content: space-between;
}